
    <mat-card>
        <mat-card-content>
            <div class="row">
                <form [formGroup]="dynamicGroup" *ngIf="dynamicGroup">
                    <div *ngFor="let field of dynamicForm.fields;">
                        <dynamic-field [field]="field" [group]="dynamicGroup"></dynamic-field>
                    </div>
                </form>

            </div>

        </mat-card-content>
        <mat-card-actions>
            <div class="text-center">
            <button class="btn btn-primary" mat-button (click)="onFormSubmit(dynamicGroup)">
                <i class="fa fa-search"></i> Search</button>
            <button class="btn btn-primary" mat-button (click)="reset(dynamicGroup)">
                <i class="fa fa-refresh"></i> Reset</button>
            </div>
        </mat-card-actions>
    </mat-card>
